.row
  .col-md-6.col-md-offset-3
    %h1 Edit wiki

    = form_for @wiki do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: "form-control"
      .form-group
        = f.label :body
        = f.text_area :body, class: "form-control"

      - if current_user.role == 'admin' || current_user.role == 'premium'
        .checkbox
          = f.select :private, [["Public", false], ["Private", true]]
          -# = f.label :private do
          -#   = f.check_box :private
          -#   Check to make private wiki

      .form-group
        = f.submit "Update", class: "btn btn-success"
