.row
  .col-md-12
    %h1 My Wikis

    .well.well-sm.tight-heading
      %h4 Create wiki's:
      = link_to "Public wiki", new_wiki_path, class: "btn btn-primary btn-sm"
      - if current_user.role == 'Standard'
        = link_to "Private wiki", new_wiki_path, class: "btn btn-primary btn-sm disabled"

    .list-group
      - @wikis.each do |wiki|

        .list-group-item
          = link_to wiki.title, wiki

          .pull-right
            = link_to "", edit_wiki_path(wiki), class: "glyphicon glyphicon-edit text-muted", title: "edit-item"
            \&nbsp;
            = link_to "", wiki, class: "glyphicon glyphicon-trash text-danger", title: "delete-item", :method => :delete
